/* CSS page with horizontal navigation bar code */

/*
.topnav {
    padding: 12px;
    border-bottom: 1px dotted rgb(223, 223, 223);
    background-color: white;
    display: flex;
    justify-content: space-between;
}
*/

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0;
}

.navbar {
    background-color: rgb(221, 255, 254);
    color:rgb(4, 53, 53);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list, .nav-list a {
    list-style-type: none;
    text-decoration: none;
}

.nav-list {
    display: flex;
}

/*
.topnav ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    align-items: center;
    padding: 0px;
    margin: 0;
}


* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0;
}

body {
    background: rgb(255, 245, 221);

}

.topnav a {
    flex: 0 0 auto;
    text-decoration: none;
    color:rgb(4, 53, 53);
    font-weight: bold;
    font-size: min(2.5vw, 24px);
    
    margin: 0;
    padding: 5px;
    flex-wrap: nowrap;
    width: 120px;
    height: 24px;
}

li.logo {
    margin-right: auto;
    margin-left: 400px;
}
.image {
    max-width: 75px;
    max-height: 75px;
}

/*

