.two_rows {
    display: flex;
    flex-direction: column;
}

.fr_two_columns {
    display: flex;
    justify-content: space-evenly;
}

.image_combo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#fr_fc_image {
    width: 200px;
    height: 200px;
}

#fr_sc_image {
    width: 200px;
    height: 200px;
}

.sr_two_columns {
    display: flex;
    justify-content: center;
}
.daily_schedule {
}

.daily_left {
}

h2 {
    font-size: 2.4em;
}

li {
    font-size: 1.4em;
}

.no_styles {
    list-style-type: none;
}