.image-gallery img{
    height: 20vw;
    border: 2px solid lightgray;
    border-radius: 12px;
}

.image-gallery {
    display: flex;
    justify-content: center;
}

.gallery-container {
    background-color: bisque;
    padding: 100px;
}

@media all and (max-width: 200px) {
    .gallery-container {
        background-color: bisque;
        padding: 0px;
    }
}