.navbar-nav .nav-link:hover {
  background-color: #f4a261;
  color: #7b3000;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
}

.navbar .navbar-expand-lg .navbar-dark {
    background-color: #005f73;
}
