* {
    /*border: solid gray 1px;*/
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#after-school-container {
    flex: auto;
    margin-left: 10%;
}

#summer-school-container {
    flex: auto;
    margin-right: 5%;
    margin-left: 25%;
}

.schedule-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.banner.image {
    width: clamp(200px, 50%, 800px);
    height: auto;
    margin-top: 25px;
}

ul {
    font-size: 1.5em;
    text-align-last: left;
    list-style-type: none;
    line-height: 30px;
}

.schedule-title {
    padding: 15px 100px
}