.topnav {
    background-color: white;
    overflow: hidden;
    justify-content: left;
    display: flex;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: rgb(255, 245, 221);
}

.topnav a {
    padding: 35px;
    flex: 0 1 auto;
    text-decoration: none;
    color:rgb(4, 53, 53);
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
    max-width: 170px;
    margin: auto 15px;
}

.topnav a:hover {
    background-color: rgb(4, 53, 53);
    color: rgb(255, 245, 221);
}

.logo {
    max-width: 100px;
    max-height: 100px;
}


