* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*border: 1px solid gray;*/
}

.container {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

body {
    background-color: rgba(128, 33, 33, 0.759);
}

.banner.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.banner-image {
    max-width: 40%;
    height: auto;
    margin: 15px;
    border-radius: 8px;
}

.title {
    font-size: 2.5vw;
    color: rgb(0, 255, 255);
}

.title.container {
    max-width: 1000px;
    margin: 0;
}

.summary.container {
    margin: 0 auto;
    max-width: 1000px;

}

.summary.paragraph {
    text-align: left;
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
}

@media all and (max-width: 915px) {
    .summary.paragraph {
        font-size: 1.3vw;
    }
}

.services.container {
    text-align: left;
    max-width: 1000px;
    margin: 15px auto;
    font-size: 20px;
    line-height: 30px;
}

#service-header {
    font-size: 30px;
    color: rgb(4, 53, 53);
}

ul.service-list {
    list-style-type: disc;
    display: block;
}

/* Social media tags and logos */

.social-media-section {
    width: auto;
    height: 350px;
    background-color: rgb(255, 255, 178);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 425px) {
    .social-media-section {
        height: 100px;
    }

}

.social-media-logo {
    max-width: 3.0vw;
    margin-right: 4px;
}

#social-media-links a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(4, 0, 255);
    font-size: 2vw;
}


.social-media.title {
    font-size: 1.7vw;
    text-align: center;
    margin: 10px 25px;
    color: rgb(4, 0, 255);
}

#social-media-links {
    display: flex;
    justify-content: space-around;
}

#facebook,
#instagram {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

/**
 * Contact information
 */

.footer {
    display: flex;
    justify-content: center;
    padding: 100px;
}
@media all and (max-width: 425px) {
    .footer {
        padding: 0px;
    }
}

.footer-container {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.59);
    width: 700px;
    height: 100px;
    align-items: center;
    border-radius: 10px;
}

#phone-container h3 {
    color: rgb(255, 255, 178);
    font-size: min(1.5vw, 20px);
    padding: 2px 0;
}
#email-container h3 {
    color: rgb(255, 255, 178);
    font-size: min(1.5vw, 20px);
    padding: 2px 0;
}

.phone-number#phone-label, .email-address#email-label {
    font-size: calc(16px + 1vw);
}

.email-address#email-label a{
    text-decoration: underline;
    color: rgb(255, 255, 178);
}
