.three_columns {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.h2_twocolumns {
    display: flex;
    flex-direction: column;
}

.two_columns {
    display: flex;
}

ul {
    list-style-type: none;
    font-size: 20px;
}